@import '../../global.scss';
.cart-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(57, 55, 72, 0.22);
  z-index: 10;

  .cart-mini {
    width: 300px;
    max-height: 80%;
    background: white;
    padding: 32px 16px;
    position: absolute;
    right: 70px;
    top: 90px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    transition: all 0.3s ease-in-out;

    @include smMobile {
      right: 10px;
    }

    .cart-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h4 {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 16px;
        line-height: 25.6px;
      }

      span {
        margin-left: 15px;
      }
      .cart-bag {
        display: flex;
        align-items: center;
      }

      .close-bag {
        cursor: pointer;
        color: #5ece7b;
        transition: all 0.2s ease-out;

        &:hover {
          text-decoration: underline;
          color: red;
        }
      }
    }

    .cart-total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 30px 0;

      .currency-cart {
        display: flex;
        align-items: center;

        svg {
          font-family: 'Raleway';

          font-weight: 700;
          font-size: 16px;
          line-height: 25.6px;
        }
      }

      h4 {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
      }

      span {
        font-family: 'Raleway';

        font-weight: 700;
        font-size: 16px;
        line-height: 25.6px;
      }
    }

    .btn-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        text-transform: uppercase;
        background: #ffffff;
        border: 1px solid #1d1f22;
        width: 140px;
        height: 43px;
        cursor: pointer;
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 14px;
        line-height: 16.8px;
      }

      .btn-checkout {
        background: #5ece7b;
        color: white;
      }
    }

    .cart-product-container {
      border: none;

      h2,
      h3,
      h4 {
        font-size: 16px;
        margin: 0;
      }

      .product-left {
        flex: 1;
        height: 100%;
        justify-content: space-evenly;

        .price-container {
          margin: 0;
        }

        .sizes-container {
          .item-size {
            width: 24px;
            height: 24px;
            margin-right: 5px;
            font-size: 10px;
          }
        }

        .item-color {
          width: 20px;
          height: 20px;
        }
      }

      .product-right {
        flex: 1;
        padding: 0;

        .btn-container {
          margin-right: 5px;
          justify-content: space-evenly;
        }

        .icon-container {
          width: 24px;
          height: 24px;

          .icon {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .img-container {
          width: 121px;
          height: 190px;
        }
      }
    }
  }
}
